 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/gf0357f5a731c73856918956251a2785e75cef98e3cd997bec35615d754b2bd622e0005d6fa761a7e6e9e335c335f2d69fd200cd3ed3ca26a49671dc8c353552f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 360px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 5px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
} .u-section-2 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-icon-1 {
  height: 73px;
  width: 72px;
  background-image: none;
  margin: 143px auto 0;
  padding: 15px;
}

.u-section-2 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("images/gba65553e1daf0746bd4dc7133855d79455a4feb786363703ce84c6b6d1812772b5df1763f311672ac4ce5d62f2102b4c6b5b4cd013f738303831cfb745c9fdd7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-2 .u-icon-1 {
    height: 72px;
  }

  .u-section-2 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 414px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 721px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 621px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 491px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    min-height: 391px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #ccd3db);
}

.u-section-3 .u-sheet-1 {
  min-height: 750px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-3 .u-image-1 {
  min-height: 315px;
  background-image: url("images/g9d737100bb683f8460badec7aa4554f2650d24c31723fbe01616c2a8f106f368873da68068d0ed42685a3522304eaba1fced96d5a1441c75c22eb8ba490bb3f1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 36px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 315px;
  background-image: url("images/gf2654abbcc75cecd214de653446ad1a895a89fa37eb8a4aa4868f5106e08f29c4b2f927beb884d5d289f1113253d40d21bf6aaa5ad8354c9453d1215f65f77ea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    height: 38px;
    width: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: url("images/gc5a9ede58939b9403d9ec80730576f71970c0392caab97a41d38cd2c97ccb605b549eb708004f82e7e4f10881c70390793e10d0523e71991b16df13ff103fb5a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 828px;
}

.u-section-4 .u-list-1 {
  width: 622px;
  grid-template-rows: repeat(3, auto);
  margin: 35px -23px 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 546px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 1.25rem;
  margin: -64px 105px 0 70px;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-2 {
  background-image: none;
  font-size: 1.25rem;
  margin: -64px 105px 0 70px;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 10px;
}

.u-section-4 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: -64px 105px 0 70px;
}

.u-section-4 .u-list-2 {
  width: 229px;
  margin: -620px auto 60px 0;
}

.u-section-4 .u-repeater-2 {
  min-height: 560px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 178px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-4 {
  vertical-align: 0px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-5 {
  vertical-align: 0px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-icon-6 {
  vertical-align: 0px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 64px;
    margin-left: 115px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 64px;
    margin-left: 115px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 64px;
    margin-left: 115px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(black, #ccd3db);
}

.u-section-5 .u-sheet-1 {
  min-height: 842px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 681px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 45px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 306px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  font-size: 2.5em;
  vertical-align: -8px;
  margin-left: 3px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 201px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  font-size: 2.5em;
  margin-left: 4px;
  vertical-align: -9px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 603px;
  background-image: url("https://darebee.com/images/workouts/cardio-bell-workout.jpg");
  background-position: 55.62% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-9 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-11 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-13 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-14 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-5 .u-image-1 {
    min-height: 497px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 148px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 571px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 857px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 996px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }
}